<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Restrablecer Contraseña</title>
</head>

<body>
    <h2>
        Hola <span th:text="${firstName}">First Name</span>,
    </h2>
    <p style="padding-left: 40px;">
        Hemos recibido tu solicitud para reestablecer tu Contraseña.
        <br />
        Por favor haz click en el siguiente enlace para continuar:
    </p>
    <h3 style="padding-left: 40px;">
        <a href="#" th:href="${link}">
            Restrablecer Contraseña
        </a>
    </h3>
    <p>
        <small style="color: #dc3545;">
            NOTA: Si usted no ha solicitado esto, por favor ignore este correo.
        </small>
    </p>
    <h4>
        Saludos cordiales, 
        <br />
        Equipo Turnera.
    </h4>
</body>

</html>